<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.pageTitle || "Inventory App" %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/itemSection.css" />
    <link rel="stylesheet" href="/css/mainSection.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <main class="main-content">
      <%- include(locals.viewToRender) %>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
  <script>
    function toggleTheme() {
      document.body.classList.toggle("dark");

      const newTheme = document.body.classList.contains("dark") ? "dark" : "light";
      localStorage.setItem("theme", newTheme);
    }

    window.addEventListener("DOMContentLoaded", () => {
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme === "dark") {
        document.body.classList.add("dark");
      }
    });
  </script>
  <script src="/js/confirmDelete.js"></script>
</html>
